.musiclist{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 3rem;
}

.musiclist__title{
    width: 100%;
    padding: 0.5rem;
}

.musiclist__title h2{
    color: #fffaba;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin:0;
    padding: 0;
    text-transform: uppercase;
}

.musiclist__songs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-top:0.5rem;
    padding: 0 1rem;
    width: 100%;
}
.border{
    padding: 0.35rem 0.5rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    transition: all 0.25s ease-in-out;
}

.border:hover{
    background-color: #1e8fff81;
    transform: scale(1.05);
}


.song__container{
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #0A1F44;
    margin: 0.5rem;
    padding: .7rem 1.75rem;
}

.song__options{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.song__details{
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #0A1F44;
    color: #1E90FF;
    border: 0.25rem solid #1E90FF;
    border-radius: 0.75rem;
    transition: all 0.25s ease;
    align-self: center;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
}

.song__details:hover{
    background-color: #1E90FF;
    color: #fffaba;
    border: 0.25rem solid #1E90FF;
    border-radius: 0.75rem;
    transform: scale(1.05);
}


.song__addlibrary{
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #0A1F44;
    color: #1E90FF;
    border: 0.25rem solid #1E90FF;
    border-radius: 0.75rem;
    transition: all 0.5s ease;
    align-self: center;
    font-size: 1.25rem;
}

.song__addlibrary:hover{
    background-color: #1E90FF;
    color: #fffaba;
    border: 0.25rem solid #1E90FF;
    border-radius: 0.75rem;
    transform: scale(1.05);
}


.idle, .error{
    width: 100%;
    height: 100%;
    margin:5% 0;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.idle h2, .error h2{
    color:#fffaba85;
    font-size: 106px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    text-align: center;

}