*{
    font-family: "Caveat", cursive;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f2b55;
}



main{
    padding: 2% 4%;

}
